Repository BhavinPatel04/ngx-datetime-range-picker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch, npm run stylelint-current-branch --syntax=scss, imagemin-lint-staged

.lintstagedrc.json:

{
  "linters": {
    "*.ts": ["npm run pretty-quick-current-branch", "tslint --fix", "git add"],
    "*.css": ["npm run pretty-quick-current-branch", "npm run stylelint-current-branch", "git add"],
    "*.scss": ["npm run pretty-quick-current-branch", "npm run stylelint-current-branch --syntax=scss", "git add"],
    "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged", "git add"],
    "*.{js,html,json,md}": ["npm run pretty-quick-current-branch", "git add"]
  },
  "relative": true
}

Auto-generated commit
  404.html
  index.html
  main.0db14f8977b659ab936a.js
  main.37b2c5112b1e8f79a013.js
Due: npm run pretty-quick-current-branch

made library theme dynamic
  README.md
  angular.json
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/ng-package.json
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/material/material.component.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/src/scss-bundle.config.json
  src/app/app.module.ts
  src/app/app.theme.scss
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

Auto-generated commit
  404.html
  index.html
  main.0db14f8977b659ab936a.js
  main.5fe9c9865bf9479575ca.js
  styles.09e2c710755c8867a460.css
  styles.5f3feb39bcc96ac1165f.css
Due: npm run pretty-quick-current-branch, npm run stylelint-current-branch

Update README.md
  README.md
Due: npm run pretty-quick-current-branch

add activeRange to output
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/interfaces/index.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.spec.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.service.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

Auto-generated commit
  404.html
  index.html
  main.5fe9c9865bf9479575ca.js
  main.82f29f95132ccf94fc92.js
  styles.5f3feb39bcc96ac1165f.css
  styles.9e919908c3698dbddd21.css
Due: npm run pretty-quick-current-branch, npm run stylelint-current-branch

add activeRange to output
  package.json
  projects/ngx-datetime-range-picker/package.json
Due: npm run pretty-quick-current-branch

add css and code quality
  README.md
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/material/material.base.scss
  projects/ngx-datetime-range-picker/src/lib/material/material.component.scss
  projects/ngx-datetime-range-picker/src/lib/material/material.default.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.constants.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.service.ts
  projects/ngx-datetime-range-picker/src/scss-bundle-default.config.json
  src/app/app.component.html
  src/app/app.component.ts
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

upgrade to angular 8
  browserslist
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  tsconfig.json
  tslint.json
Due: npm run pretty-quick-current-branch, tslint --fix

upgraded to angular 8
  .gitignore
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/src/lib/material/material.module.ts
  src/common/remote.service.ts
  src/config/config.ts
Due: npm run pretty-quick-current-branch, tslint --fix

upgrade to 9
  angular.json
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.module.ts
  projects/ngx-datetime-range-picker/tsconfig.lib.json
  projects/ngx-datetime-range-picker/tsconfig.lib.prod.json
  src/tsconfig.app.json
Due: npm run pretty-quick-current-branch, tslint --fix

upgraded material to 9
  angular.json
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
Due: npm run pretty-quick-current-branch, tslint --fix

upgrade to 10
  .browserslistrc
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/package.json
  tsconfig.json
  tslint.json
Due: npm run pretty-quick-current-branch

upgrade to angular 10
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/src/lib/material/material.base.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/tsconfig.lib.json
  src/app/app.theme.scss
  tsconfig.json
Due: npm run pretty-quick-current-branch, npm run stylelint-current-branch --syntax=scss

fix ts stuff
  .browserslistrc
  angular.json
  e2e/tsconfig.e2e.json
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/tsconfig.lib.json
  projects/ngx-datetime-range-picker/tsconfig.lib.prod.json
  tsconfig.json
Due: npm run pretty-quick-current-branch

add lib dep
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/package.json
  src/app/app.module.ts
  src/app/app.theme.scss
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

Auto-generated commit
  3rdpartylicenses.txt
  404.html
  fontawesome-webfont.1e59d2330b4c6deb84b3.ttf
  fontawesome-webfont.20fd1704ea223900efa9.woff2
  fontawesome-webfont.8b43027f47b20503057d.eot
  fontawesome-webfont.c1e38fd9e0e74ba58f7a.svg
  fontawesome-webfont.f691f37e57f04c152e23.woff
  index.html
  main-es2015.b4949151254fd1e5003c.js
  main-es5.b4949151254fd1e5003c.js
  main.82f29f95132ccf94fc92.js
  polyfills-es2015.0fd7c91932016b9b7d86.js
  polyfills-es5.c7a2a7899335ca212b54.js
  polyfills.f0db08a954a38ba9b313.js
  runtime-es2015.66c79b9d36e7169e27b0.js
  runtime-es5.66c79b9d36e7169e27b0.js
  runtime.26209474bfa8dc87a77c.js
  styles.9e919908c3698dbddd21.css
  styles.baaad0eb3ca768ba0bd1.css
Due: npm run pretty-quick-current-branch, npm run stylelint-current-branch, imagemin-lint-staged

revert scss-bundle to 3.0.2
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/material/material.base.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/tsconfig.lib.json
  src/app/app.theme.scss
Due: npm run pretty-quick-current-branch, npm run stylelint-current-branch --syntax=scss

upgrade peer dep
  projects/ngx-datetime-range-picker/package.json
Due: npm run pretty-quick-current-branch

use lib
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/app.theme.scss
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

fix test cases and travis
  .travis.yml
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.service.spec.ts
Due: npm run pretty-quick-current-branch, tslint --fix

fix test cases
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
Due: npm run pretty-quick-current-branch, tslint --fix

remove node 8 from travis
  .travis.yml
Due: none

Auto-generated commit
  .nojekyll
  404.html
  index.html
  main-es2015.cdb88ae01b3cc67e8ae3.js
  main-es5.cdb88ae01b3cc67e8ae3.js
Due: npm run pretty-quick-current-branch

Auto-generated commit
  404.html
  index.html
  main-es2015.a0fe1f2d7474173ac1e1.js
  main-es2015.cdb88ae01b3cc67e8ae3.js
  main-es5.a0fe1f2d7474173ac1e1.js
  main-es5.cdb88ae01b3cc67e8ae3.js
Due: npm run pretty-quick-current-branch

fix the bug
  .gitignore
  .npmrc
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/package-lock.json
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
Due: npm run pretty-quick-current-branch, tslint --fix

incomplete
  .eslintrc.js
  .gitignore
  README.md
  angular.json
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/.eslintrc.js
  projects/ngx-datetime-range-picker/README.md
  projects/ngx-datetime-range-picker/ng-package.json
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/interfaces/index.ts
  projects/ngx-datetime-range-picker/src/lib/material/material.base.scss
  projects/ngx-datetime-range-picker/src/lib/material/material.component.scss
  projects/ngx-datetime-range-picker/src/lib/material/material.module.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.module.ts
  projects/ngx-datetime-range-picker/src/public_api.ts
  projects/ngx-datetime-range-picker/tsconfig.lib.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.theme.scss
  src/polyfills.ts
  tsconfig.json
  yarn.lock
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

refactor
  .lintstagedrc.json
  package.json
  projects/ngx-datetime-range-picker/tsconfig.lib.prod.json
  yarn.lock
Due: npm run pretty-quick-current-branch

Auto-generated commit
  3rdpartylicenses.txt
  404.html
  fontawesome-webfont.1e59d2330b4c6deb84b3.ttf
  fontawesome-webfont.20fd1704ea223900efa9.woff2
  fontawesome-webfont.8b43027f47b20503057d.eot
  fontawesome-webfont.c1e38fd9e0e74ba58f7a.svg
  fontawesome-webfont.f691f37e57f04c152e23.woff
  index.html
  main-es2015.a0fe1f2d7474173ac1e1.js
  main-es5.a0fe1f2d7474173ac1e1.js
  main.60254de2fd065b4a.js
  polyfills-es2015.0fd7c91932016b9b7d86.js
  polyfills-es5.c7a2a7899335ca212b54.js
  polyfills.3b4f28409bbe740b.js
  runtime-es2015.66c79b9d36e7169e27b0.js
  runtime-es5.66c79b9d36e7169e27b0.js
  runtime.fc40de7c942c0971.js
  styles.7cda5fba4573fd73.css
  styles.baaad0eb3ca768ba0bd1.css
Due: npm run pretty-quick-current-branch, npm run stylelint-current-branch, imagemin-lint-staged

Upgrade to Angular 17 (#76)
  .eslintrc.js
  .gitignore
  .lintstagedrc.json
  .npmrc
  README.md
  angular.json
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/.eslintrc.js
  projects/ngx-datetime-range-picker/README.md
  projects/ngx-datetime-range-picker/ng-package.json
  projects/ngx-datetime-range-picker/package-lock.json
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/interfaces/index.ts
  projects/ngx-datetime-range-picker/src/lib/material/material.base.scss
  projects/ngx-datetime-range-picker/src/lib/material/material.component.scss
  projects/ngx-datetime-range-picker/src/lib/material/material.default.scss
  projects/ngx-datetime-range-picker/src/lib/material/material.module.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.module.ts
  projects/ngx-datetime-range-picker/src/public_api.ts
  projects/ngx-datetime-range-picker/src/scss-bundle-default.config.json
  projects/ngx-datetime-range-picker/src/scss-bundle.config.json
  projects/ngx-datetime-range-picker/tsconfig.lib.json
  projects/ngx-datetime-range-picker/tsconfig.lib.prod.json
  projects/ngx-datetime-range-picker/tslint.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.theme.scss
  src/polyfills.ts
  tsconfig.json
  yarn.lock
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

Auto-generated commit
  404.html
  index.html
  main.60254de2fd065b4a.js
  main.7127922c9a95ca8a.js
Due: npm run pretty-quick-current-branch

fix bug
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
Due: npm run pretty-quick-current-branch, tslint --fix

upgrade node-gyp
  package.json
  yarn.lock
Due: npm run pretty-quick-current-branch

upgrade typescript
  package.json
  yarn.lock
Due: npm run pretty-quick-current-branch

upgrade
  .eslintrc.backup
  .eslintrc.js
  README.md
  angular.json
  eslint.config.mjs
  package.json
  projects/ngx-datetime-range-picker/node_modules/.yarn-integrity
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/interfaces/index.ts
  projects/ngx-datetime-range-picker/src/lib/material/material.module.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.spec.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.constants.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.module.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.service.spec.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.service.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.utils.ts
  projects/ngx-datetime-range-picker/src/lib/pipes/objNgFor.pipe.ts
  projects/ngx-datetime-range-picker/yarn.lock
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.theme.scss
  src/common/services/shared.service.ts
  src/common/services/util.service.ts
  tsconfig.json
  yarn.lock
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

upgrade
  .eslintrc.backup
  .lintstagedrc.json
Due: npm run pretty-quick-current-branch

Auto-generated commit
  3rdpartylicenses.txt
  404.html
  browser/chunk-DA73YV5A.js
  browser/chunk-O4DATXUX.js
  browser/favicon.ico
  browser/index.html
  browser/main-VKNOT6HX.js
  browser/polyfills-MH5IBZ74.js
  browser/styles-UG3PEQX7.css
  index.html
  main.7127922c9a95ca8a.js
  polyfills.3b4f28409bbe740b.js
  prerendered-routes.json
  runtime.fc40de7c942c0971.js
  styles.7cda5fba4573fd73.css
Due: npm run pretty-quick-current-branch, npm run stylelint-current-branch

Auto-generated commit
  3rdpartylicenses.txt
  404.html
  browser/main-VKNOT6HX.js
  chunk-DA73YV5A.js
  chunk-O4DATXUX.js
  favicon.ico
  index.html
  main-2EAS3TQJ.js
  polyfills-MH5IBZ74.js
  styles-UG3PEQX7.css
Due: npm run pretty-quick-current-branch, npm run stylelint-current-branch

5.0.0
  angular.json
  package.json
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/interfaces/index.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.spec.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.theme.scss
  src/index.html
  src/styles.scss
  yarn.lock
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss
