Repository BhavinPatel04/ngx-datetime-range-picker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch, npm run stylelint-current-branch --syntax=scss, imagemin-lint-staged

travis update
  .travis.yml
Due: none

fix after sucess
  .travis.yml
Due: none

Auto-generated commit
  404.html
  index.html
Due: npm run pretty-quick-current-branch

updated travis & added coveralls
  .travis.yml
  README.md
  package.json
Due: npm run pretty-quick-current-branch

made the tests singleRun
  src/karma.conf.js
Due: npm run pretty-quick-current-branch

Update README.md
  README.md
Due: npm run pretty-quick-current-branch

Auto-generated commit
  3rdpartylicenses.txt
  404.html
  index.html
  main.139af65ce4b16942679d.js
  main.f2ba9002bd2b569c5895.js
Due: npm run pretty-quick-current-branch

updated demo
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.module.ts
  src/app/dateTimeRangePicker/dateTimeRangePicker.module.ts
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

fix test case
  src/app/app.component.spec.ts
Due: npm run pretty-quick-current-branch, tslint --fix

fix readme & change component selector
  README.md
  src/app/app.component.html
  src/app/dateTimeRangePicker/dateTimeRangePicker.component.ts
  src/app/material/material.component.scss
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

fix the material scss
  src/app/material/material.component.scss
Due: npm run pretty-quick-current-branch, npm run stylelint-current-branch --syntax=scss

update version
  package.json
Due: npm run pretty-quick-current-branch

fix readme
  README.md
Due: npm run pretty-quick-current-branch

update readme
  .gitignore
  README.md
Due: npm run pretty-quick-current-branch

fix test cases
  .gitignore
  projects/ngx-datetime-range-picker/karma.conf.js
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.spec.ts
Due: npm run pretty-quick-current-branch, tslint --fix

Update package.json
  package.json
Due: npm run pretty-quick-current-branch

refactor code
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/interfaces/dateRangeModelItem.interface.ts
  projects/ngx-datetime-range-picker/src/lib/interfaces/options.interface.ts
  projects/ngx-datetime-range-picker/src/lib/interfaces/settings.interface.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.service.ts
  projects/ngx-datetime-range-picker/src/public_api.ts
  src/app/app.component.ts
Due: npm run pretty-quick-current-branch, tslint --fix

refactor code and make npm show readme
  package.json
  projects/ngx-datetime-range-picker/README.md
  projects/ngx-datetime-range-picker/package.json
Due: npm run pretty-quick-current-branch

update libraries to remove vulnerabilities
  package-lock.json
  package.json
Due: npm run pretty-quick-current-branch

removed BrowserModule to support lazy-loading
  README.md
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.module.ts
Due: npm run pretty-quick-current-branch, tslint --fix

Auto-generated commit
  3rdpartylicenses.txt
  404.html
  index.html
  main.139af65ce4b16942679d.js
  main.7965213340941f4f6f52.js
  polyfills.c805adb47552d17287d3.js
  polyfills.f0db08a954a38ba9b313.js
  runtime.26209474bfa8dc87a77c.js
  styles.09e2c710755c8867a460.css
  styles.c3eacb7a2b460bfa82c2.css
Due: npm run pretty-quick-current-branch, npm run stylelint-current-branch

added NoopAnimationsModule
  package.json
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.module.ts
  src/common/services/util.service.ts
Due: npm run pretty-quick-current-branch, tslint --fix

Auto-generated commit
  404.html
  index.html
  main.5191a547730688d52c69.js
  main.7965213340941f4f6f52.js
Due: npm run pretty-quick-current-branch

Auto-generated commit
  3rdpartylicenses.txt
  404.html
  index.html
  main.05203b74fd0cd90047be.js
  main.5191a547730688d52c69.js
Due: npm run pretty-quick-current-branch

removed lodash dependency
  README.md
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/README.md
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.service.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.utils.ts
  src/common/services/hash.service.ts
  src/common/services/util.service.ts
  tsconfig.json
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

removed capitalize test case
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.spec.ts
Due: npm run pretty-quick-current-branch, tslint --fix

fixed test cases and bumped the version to 1.1.5
  projects/ngx-datetime-range-picker/package.json
Due: npm run pretty-quick-current-branch

upgraded tar version
  package-lock.json
  package.json
Due: npm run pretty-quick-current-branch

refactor code
  package-lock.json
  package.json
  projects/ngx-datetime-range-picker/src/lib/interfaces/ariaLabels.interface.ts
  projects/ngx-datetime-range-picker/src/lib/interfaces/calendarSides.interface.ts
  projects/ngx-datetime-range-picker/src/lib/interfaces/dateRangeModelItem.interface.ts
  projects/ngx-datetime-range-picker/src/lib/interfaces/index.ts
  projects/ngx-datetime-range-picker/src/lib/interfaces/options.interface.ts
  projects/ngx-datetime-range-picker/src/lib/interfaces/settings.interface.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.spec.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.constants.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.service.spec.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.service.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.utils.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  tslint.json
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

refactor code
  projects/ngx-datetime-range-picker/package.json
Due: npm run pretty-quick-current-branch

refactor code
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
Due: npm run pretty-quick-current-branch

remove NoopAnimationsModule
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.spec.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.module.ts
Due: npm run pretty-quick-current-branch, tslint --fix

Auto-generated commit
  404.html
  index.html
  main.05203b74fd0cd90047be.js
  main.37b2c5112b1e8f79a013.js
Due: npm run pretty-quick-current-branch

fix issues
  projects/ngx-datetime-range-picker/package.json
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.html
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.scss
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.spec.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.component.ts
  projects/ngx-datetime-range-picker/src/lib/ngx-datetime-range-picker.service.ts
  src/app/app.component.scss
  src/app/app.component.ts
Due: npm run pretty-quick-current-branch, tslint --fix, npm run stylelint-current-branch --syntax=scss

Path conditions:
  npm run pretty-quick-current-branch: (((any of: *.ts) or (any of: *.css)) or (any of: *.scss)) or (any of: *.{js,html,json,md})
  tslint --fix: any of: *.ts
  npm run stylelint-current-branch: any of: *.css
  npm run stylelint-current-branch --syntax=scss: any of: *.scss
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
